<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="lookup" ng-controller="AppCtrl">

<div class="content">
    <div class="center">
        <h2>Søk i brønnøysund&shy;registrene</h2>
        <hr>

        <div class="alert alert-info">
            <h5 class="form-row">
                Søk på organisasjonsnummer
            </h5>
            <div class="form-row">
                <input type="text" ng-model="orgnum" class="form-control col-md-8">
                <input type="button" ng-click="lookup(orgnum)" value="Søk" class="btn btn-primary col-md-3 offset-md-1">
            </div>
        </div>

        <div class="alert alert-info">
            <h5 class="form-row">
                Søk på navn
            </h5>
            <div class="form-row">
                <input type="text" ng-model="orgname" ng-change="page = 1; search()" class="form-control col-md-8">
                <button ng-click="showFilters = !showFilters" class="btn btn-warning dropdown-toggle col-md-3 offset-md-1">Filtrer</button>
            </div>
            <div ng-if="showFilters" class="alert alert-warning mt-3">
                <div class="form-row">
                    <span class="col-md-3 m-auto">Antall ansatte fra</span><input type="text" ng-model="filterData.min_employees" ng-change="search()" class="form-control col-md-4">
                    <span class="col-md-1 m-auto">til</span><input type="text" ng-model="filterData.max_employees" ng-change="search()" class="form-control col-md-4">
                </div>
                <div class="form-row">
                    <span class="col-md-3 m-auto">Stiftet dato fra</span><input type="text" ng-model="filterData.from_date" ng-change="search()" class="form-control col-md-4">
                    <span class="col-md-1 m-auto">til</span><input type="text" ng-model="filterData.to_date" ng-change="search()" class="form-control col-md-4">
                </div>
            </div>
        </div>

        <hr>

        <div ng-if="search_result && !org_data">
            <table ng-if="search_result.data" class="table table-hover search_result">
                <tr>
                    <th>Org. nummer</th>
                    <th>Navn</th>
                </tr>
                <tr ng-repeat="line in search_result.data" ng-class="{'highlight-row': line.konkurs == 'J'}" ng-click="lookup(line.organisasjonsnummer)">
                    <td>{{line.organisasjonsnummer}}</td><td>{{line.navn}}</td>
                </tr>
            </table>

            <i ng-if="!search_result.data">Ingen treff</i>

            <a href="" ng-if="hasPrev()" ng-click="prev()"><<</a>
            <span ng-if="hasPrev() || hasNext()">{{ page }}</span>
            <a href="" ng-if="hasNext()" ng-click="next()">>></a>
        </div>

        <div ng-if="org_data">
            <h4>{{org_data.navn}}</h4>
            <h6>Org. nr: {{org_data.organisasjonsnummer}}</h6>
            <h5 ng-if="org_data.konkurs == 'J'" style="color: red">KONKURS</h5>
            <hr>

            <div class="row">
                <table class="table org-data col-md-9">
                    <tr><td>Stiftelsesdato</td><td>{{org_data.stiftelsesdato}}</td></tr>
                    <tr><td>Dato registrert i enhetsregisteret</td><td>{{org_data.registreringsdatoEnhetsregisteret}}</td></tr>
                    <tr ng-if="org_data.hjemmeside"><td>Hjemmeside</td><td><a href="http://{{org_data.hjemmeside}}" target="_blank">{{org_data.hjemmeside}}</a></td></tr>
                    <tr><td>Målfrom</td><td>{{org_data.maalform}}</td></tr>
                    <tr><td>Antall ansatte</td><td>{{org_data.antallAnsatte}}</td></tr>
                    <tr><td>Konkurs</td><td>{{org_data.konkurs == "J" ? "Ja" : "Nei" }}</td></tr>
                    <tr><td>Under avvikling</td><td>{{org_data.under_avvikling == "J" ? "Ja" : "Nei" }}</td></tr>
                    <tr><td>Under tvangsavvikling eller tvangsoppløsning</td><td>{{org_data.underTvangsavviklingEllerTvangsopplosning == "J" ? "Ja" : "Nei" }}</td></tr>
                    <tr><td>Organisasjonsform</td><td>{{org_data.orgform.beskrivelse}}</td></tr>
                    <tr><td>Institusjonell sektorkode</td><td>{{ k = org_data.institusjonellSektorkode; k.kode + ' - ' + k.beskrivelse}}</td></tr>
                    <tr><td>Næringskode</td><td>{{ k = org_data.naeringskode1; k.kode + ' - ' + k.beskrivelse}}</td></tr>
                    <tr>
                        <td>Forretningsadresse</td>
                        <td>
                            {{ a = org_data.forretningsadresse; a.adresse }}<br>
                            {{ a.postnummer }} {{ a.poststed }}<br>
                            {{ a.land }}<br>
                            <a href="http://maps.google.com/?q={{ a.adresse + ' ' + a.postnummer + ' ' + a.poststed}}" target="_blank">Se kart</a>
                        </td>
                    </tr>
                    <tr ng-if="org_data.postadresse">
                        <td>Postadresse</td>
                        <td>
                            {{ a = org_data.postadresse; a.adresse }}<br>
                            {{ a.postnummer }} {{ a.poststed }}<br>
                            {{ a.land }}
                        </td>
                    </tr>
                </table>

                <div class="col-md-3 alert alert-info" style="height:10em;">
                    <h6>Registrert i</h6>
                    <span ng-class="org_data.registrertIFrivillighetsregisteret == 'J' ? 'reg' : 'no-reg'">Frivillighetsregisteret</span><br>
                    <span ng-class="org_data.registrertIMvaregisteret == 'J' ? 'reg' : 'no-reg'">Matvareregisteret</span><br>
                    <span ng-class="org_data.registrertIForetaksregisteret == 'J' ? 'reg' : 'no-reg'">Foretaksregisteret</span><br>
                    <span ng-class="org_data.registrertIStiftelsesregisteret == 'J' ? 'reg' : 'no-reg'">Stiftelsesregisteret</span>
                </div>
            </div>

            <a href="" ng-click="clearLookup()">Tilbake</a>
        </div>
    </div>
</div>

</body>
</html>