<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title></title>
    <base href="/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="html/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="html/app.js"></script>
</head>
<body ng-app="lookup" ng-controller="AppCtrl">

<div class="content">
    <div class="center">
        <h1><a href="html">Søk i brønnøysund&shy;registrene</a></h1>
        <hr>

        <div class="alert alert-info">
            <h5 class="form-row">
                Søk på organisasjonsnummer
            </h5>
            <div class="form-row">
                <input type="text" ng-model="orgnum" class="form-control col">
                <input type="button" ng-click="lookup(orgnum)" value="Søk" class="btn btn-primary col">
            </div>
        </div>

        <div class="alert alert-info">
            <h5 class="form-row">
                Søk på navn
            </h5>
            <div class="form-row">
                <input type="text" ng-model="orgname" ng-change="page = 0; search()" class="form-control col">
                <button ng-click="showFilters = !showFilters" class="btn btn-warning dropdown-toggle">Filtrer</button>
            </div>
            <div ng-if="showFilters" class="form-row alert alert-warning">
                Antall ansatte fra <input type="text" ng-model="filterData.min_employees" ng-change="search()" class="form-control col">
                til <input type="text" ng-model="filterData.max_employees" ng-change="search()" class="form-control col">
            </div>
        </div>

        <hr>

        <div ng-if="search_result && !org_data">
            <table class="table table-hover search_result">
                <tr ng-repeat="line in search_result.data" ng-class="{'highlight-row': line.konkurs == 'J'}" ng-click="lookup(line.organisasjonsnummer)">
                    <td>{{line.organisasjonsnummer}}</td><td>{{line.navn}}</td>
                </tr>
            </table>

            <a href="" ng-if="hasPrev()" ng-click="prev()"><<</a>
            <span ng-if="hasPrev() || hasNext()">{{ page }}</span>
            <a href="" ng-if="hasNext()" ng-click="next()">>></a>
        </div>

        <div ng-if="org_data">
            <h4>{{org_data.navn}}</h4>
            <h6>Org. nr: {{org_data.organisasjonsnummer}}</h6>
            <h5 ng-if="org_data.konkurs == 'J'" style="color: red">KONKURS</h5>
            <hr>

            <table class="table">
                <tr><td>Stiftelsesdato:</td><td>{{org_data.stiftelsesdato}}</td></tr>
                <tr><td>Dato registrert i enhetsregisteret</td><td>{{org_data.registreringsdatoEnhetsregisteret}}</td></tr>
                <tr><td>Hjemmeside</td><td><a href="http://{{org_data.hjemmeside}}" target="_blank">{{org_data.hjemmeside}}</a></td></tr>
                <tr><td>Målfrom</td><td>{{org_data.maalform}}</td></tr>
                <tr><td>Registrert i frivillighetsregisteret</td><td>{{org_data.registrertIFrivillighetsregisteret ? "Ja" : "Nei"}}</td></tr>
                <tr><td>Registrert i matvareregisteret</td><td>{{org_data.registrertIMvaregisteret}}</td></tr>
                <tr><td>Registrert i foretaksregisteret</td><td>{{org_data.registrertIForetaksregisteret}}</td></tr>
                <tr><td>Registrert i stiftelsesregisteret</td><td>{{org_data.registrertIStiftelsesregisteret}}</td></tr>
                <tr><td>Antall ansatte</td><td>{{org_data.antallAnsatte}}</td></tr>
                <tr><td>Organisasjonsform</td><td>{{org_data.orgform.beskrivelse}}</td></tr>
                <tr><td>Institusjonell sektorkode</td><td>{{ k = org_data.institusjonellSektorkode; k.kode + ' - ' + k.beskrivelse}}</td></tr>
                <tr><td>Næringskode</td><td>{{ k = org_data.naeringskode1; k.kode + ' - ' + k.beskrivelse}}</td></tr>
                <tr><td>Forrestningsadresse</td>
                    <td>
                        {{ a = org_data.forretningsadresse; a.adresse }}<br>
                        {{ a.postnummer }} {{ a.poststed }}<br>
                        {{ a.land }}
                    </td>
                </tr>
            </table>

            <a href="" ng-click="clearLookup()">Tilbake</a>
        </div>
    </div>
</div>

</body>
</html>